
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Cabin:ital@1&family=Dongle:wght@700&family=Estonia&family=Exo+2&family=Lobster&family=Luckiest+Guy&family=Merriweather+Sans&family=Montserrat:wght@600&family=Oswald&family=Rampart+One&family=Shippori+Antique&family=Zen+Antique&display=swap');
/* font-family: 'Abel', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Dongle', sans-serif;
font-family: 'Estonia', cursive;
font-family: 'Exo 2', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Rampart One', cursive;
font-family: 'Shippori Antique', sans-serif;
font-family: 'Zen Antique', serif; */

#trashImg, #stickyImg, #staplerImg {
  display: none;
}

#question1, #question2, #question3, #question4, #question5, #question6, #question7, #question8 {
  display: none;
}

body  { 
    background-image: url("../img/red-curtains-crop.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    color: rgb(216, 216, 34);
    font-size: 3.5em;
    font-family: 'Luckiest Guy', cursive;
  }

  .btn {
    padding: 1em;
    margin: .5em;
    width: 30%;
  }

  .container {
    background-color: rgb(75, 75, 75, .5);
    border-radius: 15px;
    margin-top: 5%;
    padding: 3%;
  }
  
  #weird {
    width: 300px;
    height: auto;
    transform: scaleX(-1);
  }

  .bubble {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 24px;
    width: 50%x;
    background: rgb(255, 255, 255, .8);
    border-radius: 40px;
    padding: 24px;
    text-align: center;
    color: #000;
  }
  
  .bubble-bottom-left:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }